@font-face {
	font-family: 'Cryptocoins';
	src:url('fonts/Cryptocoins.eot?-egk1o');
	src:url('fonts/Cryptocoins.eot?#iefix-egk1o') format('embedded-opentype'),
		url('fonts/Cryptocoins.woff?-egk1o') format('woff'),
		url('fonts/Cryptocoins.ttf?-egk1o') format('truetype'),
		url('fonts/Cryptocoins.svg?-egk1o#Cryptocoins') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'Cryptocoins';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cc-BANX:before {
	content: "\e615";
}
.cc-BANX-alt:before {
	content: "\e616";
}
.cc-BC:before {
	content: "\e617";
}
.cc-BC-alt:before {
	content: "\e618";
}
.cc-BTCD:before {
	content: "\e619";
}
.cc-BTCD-alt:before {
	content: "\e61a";
}
.cc-FC2:before {
	content: "\e61b";
}
.cc-FC2-alt:before {
	content: "\e61c";
}
.cc-FTC:before {
	content: "\e61d";
}
.cc-FTC-alt:before {
	content: "\e61e";
}
.cc-MSC:before {
	content: "\e61f";
}
.cc-MSC-alt:before {
	content: "\e620";
}
.cc-NBT:before {
	content: "\e621";
}
.cc-OPAL:before {
	content: "\e622";
}
.cc-OPAL-alt:before {
	content: "\e623";
}
.cc-POT:before {
	content: "\e624";
}
.cc-POT-alt:before {
	content: "\e625";
}
.cc-SDC:before {
	content: "\e626";
}
.cc-SDC-alt:before {
	content: "\e627";
}
.cc-STR:before {
	content: "\e628";
}
.cc-STR-alt:before {
	content: "\e629";
}
.cc-SYNC:before {
	content: "\e62a";
}
.cc-SYNC-alt:before {
	content: "\e62b";
}
.cc-YBC:before {
	content: "\e62c";
}
.cc-YBC-alt:before {
	content: "\e62d";
}
.cc-BTC:before {
	content: "\e600";
}
.cc-BTC-alt:before {
	content: "\e601";
}
.cc-BTSX:before {
	content: "\e602";
}
.cc-BTSX-alt:before {
	content: "\e603";
}
.cc-DOGE:before {
	content: "\e604";
}
.cc-DOGE-alt:before {
	content: "\e605";
}
.cc-DRK:before {
	content: "\e606";
}
.cc-DRK-alt:before {
	content: "\e607";
}
.cc-LTC:before {
	content: "\e608";
}
.cc-LTC-alt:before {
	content: "\e609";
}
.cc-NMC:before {
	content: "\e60a";
}
.cc-NMC-alt:before {
	content: "\e60b";
}
.cc-NXT:before {
	content: "\e60c";
}
.cc-NXT-alt:before {
	content: "\e60d";
}
.cc-PPC:before {
	content: "\e60e";
}
.cc-PPC-alt:before {
	content: "\e60f";
}
.cc-XCP:before {
	content: "\e610";
}
.cc-XCP-alt:before {
	content: "\e611";
}
.cc-XMR:before {
	content: "\e612";
}
.cc-XRP:before {
	content: "\e613";
}
.cc-XRP-alt:before {
	content: "\e614";
}
