.cc-ARCH, .cc-ARCH-alt { color: #002652; }
.cc-BANX, .cc-BANX-alt { color: #225BA6; }
.cc-BC, .cc-BC-alt { color: #202121; }
.cc-BCN, .cc-BCN-alt { color: #964F51; }
.cc-BTC, .cc-BTC-alt { color: #F7931A; }
.cc-BTCD, .cc-BTCD-alt { color: #2A72DC; }
.cc-BTS, .cc-BTS-alt { color: #03A9E0; }
.cc-DASH, .cc-DASH-alt { color: #1c75bc; }
.cc-DOGE, .cc-DOGE-alt { color: #BA9F33; }
.cc-FC2, .cc-FC2-alt { color: #040405; }
.cc-FTC, .cc-FTC-alt { color: #679EF1; }
.cc-GEMZ, .cc-GEMZ-alt { color: #e86060; }
.cc-GRC, .cc-GRC-alt { color: #88A13C; }
.cc-IFC, .cc-IFC-alt { color: #ed272d; }
.cc-KORE, .cc-KORE-alt { color: #DF4124; }
.cc-LTC, .cc-LTC-alt { color: #838383; }
.cc-MAID, .cc-MAID-alt { color: #5492D6; }
.cc-MSC, .cc-MSC-alt { color: #1D4983; }
.cc-NBT { color: #FFC93D; }
.cc-NMC, .cc-NMC-alt { color: #6787B7; }
.cc-NOTE, .cc-NOTE-alt { color: #42daff; }
.cc-NXT, .cc-NXT-alt { color: #008FBB; }
.cc-OPAL, .cc-OPAL-alt { color: #7193AA; }
.cc-POT, .cc-POT-alt { color: #105B2F; }
.cc-PPC, .cc-PPC-alt { color: #3FA30C; }
.cc-QRK, .cc-QRK-alt { color: #22AABF; }
.cc-RBT, .cc-RBT-alt { color: #0d4982; }
.cc-SDC, .cc-SDC-alt { color: #981D2D; }
.cc-STR, .cc-STR-alt { color: #08B5E5; }
.cc-SYNC, .cc-SYNC-alt { color: #008DD2; }
.cc-UNITY, .cc-UNITY-alt { color: #ED8527; }
.cc-VIOR, .cc-VIOR-alt { color: #1F52A4; }
.cc-VPN, .cc-VPN-alt { color: #589700; }
.cc-VRC, .cc-VRC-alt { color: #418bca; }
.cc-VTC, .cc-VTC-alt { color: #1b5c2e; }
.cc-XCP, .cc-XCP-alt { color: #EC1550; }
.cc-XEM, .cc-XEM-alt { color: #41bf76; }
.cc-XMR { color: #FF6600; }
.cc-XRP, .cc-XRP-alt { color: #346AA9; }
.cc-YBC, .cc-YBC-alt { color: #D6C154; }
.cc-DMD, .cc-DMD-alt { color: #5497b2; }
.cc-FRK, .cc-FRK-alt { color: #0633cd; }
.cc-IOC, .cc-IOC-alt { color: #2fa3de; }
.cc-LDOGE, .cc-LDOGE-alt { color: #ffcc00; }
.cc-MTR, .cc-MTR-alt { color: #b92429; }
.cc-MUE, .cc-MUE-alt { color: #f5a10e; }
.cc-XAI, .cc-XAI-alt { color: #2ef99f; }
.cc-XBS, .cc-XBS-alt { color: #d3261d; }
.cc-XPM, .cc-XPM-alt { color: #e5b625; }
.cc-BAY, .cc-BAY-alt { color: #584ba1; }
.cc-DGB, .cc-DGB-alt { color: #0066cc; }
.cc-EMC, .cc-EMC-alt { color: #674c8c; }
.cc-ETH, .cc-ETH-alt { color: #282828; }
.cc-MINT, .cc-MINT-alt { color: #006835; }
.cc-MONA, .cc-MONA-alt { color: #a99364; }
.cc-MRC { color: #4279bd; }
.cc-NEU, .cc-NEU-alt { color: #2983c0; }
.cc-NVC, .cc-NVC-alt { color: #ecab41; }
.cc-AEON, .cc-AEON-alt { color: #164450; }
.cc-AMP, .cc-AMP-alt { color: #048DD2; }
.cc-ANC, .cc-ANC-alt { color: #000; }
.cc-BTA { color: #210094; }
.cc-CLAM, .cc-CLAM-alt { color: #D6AB31; }
.cc-CLOAK, .cc-CLOAK-alt { color: #DF3F1E; }
.cc-DCR, .cc-DCR-alt { color: #43A2CA; }
.cc-NEOS, .cc-NEOS-alt { color: #3771B1; }
.cc-NLG, .cc-NLG-alt { color: #003E7E; }
.cc-OK, .cc-OK-alt { color: #0165A4; }
.cc-OMNI, .cc-OMNI-alt { color: #18347E; }
.cc-RBY, .cc-RBY-alt { color: #D31F26; }
.cc-SCOT, .cc-SCOT-alt { color: #3498DB; }
.cc-SJCX, .cc-SJCX-alt { color: #003366; }
.cc-START, .cc-START-alt { color: #01AEF0; }
.cc-SYS, .cc-SYS-alt { color: #0098DA; }
.cc-VNL, .cc-VNL-alt { color: #404249; }
.cc-TX, .cc-TX-alt { color: #1F8BCC; }
.cc-XVG, .cc-XVG-alt { color: #42AFB2; }
